@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
/*///// Primary /////*/
--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);

/*///// Neutral /////*/
--Dark-Grayish-Red: hsl(0, 6%, 24%);
}

*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
html{
       font-size: 65.2%;
}
body{       
       font-family: 'Josefin Sans', sans-serif;
       font-size: 1.6rem; 
       width: 100%;        
       height: auto;                  
}
main{      
       max-width: 1440px;
       margin: 0 auto;
       background-image: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));  
      
}
header .logo{      
        padding: 3rem;  
}
header .logo img{
       width: 10rem;
}
section.hero{
       width: 100%;
       text-align: center;
}
section.hero img{
     width: 100%;
     object-fit: cover;
     margin-bottom: 3rem;
}
section.hero .img-desktop{
       display: none;
}
section.content h2 span{
       color: var(--Desaturated-Red);
       display: block;       
       font-weight: 300;
}
section.content h2{
       width: 30rem;
       margin: 0 auto;
       padding: 2.5rem;
       text-align: center;
       font-size: 4rem;
       text-transform: uppercase;
       letter-spacing: 1rem;
}
section.content p{
       width: 85%;
       max-width: 400px;
       margin: 0 auto;
       color: var(--Desaturated-Red);
       text-align: center;
       font-size: 1.4rem;
       font-weight: 400;
       line-height: 2.5rem;
}
footer{
       margin-bottom: 2rem;
}
footer form{
       position: relative;
       width: 85%;  
       max-width: 400px;     
       min-width: 300px; 
       padding: 3rem 0 7rem;
       margin: 0 auto;
}
footer form input{
       width: 100%;
       height: 5rem;
       border-radius: 3rem;
       padding: 2rem 3rem; 
       border: 1px solid hsla(0, 36%, 70%, 0.356);
       background-color: hsl(0, 100%, 98%);
}
footer form input.errorInput{
       background: url(../images/icon-error.svg) no-repeat;
       background-position:70%;       
}
footer form input::placeholder{
       font-family: 'Josefin Sans', sans-serif;
       color: hsla(0, 36%, 70%, 0.493);      
}
footer form input:focus{
       outline: none; 
       background-color: #fff;     
}
footer form button{
       position: absolute;         
       right: 0;
       width: 7.5rem;
       height: 5.1rem;
       border-radius: 3rem;
       background-image: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
       border: none;
       box-shadow: 0px 10px 10px hsla(0, 36%, 70%, 0.226) ;
       cursor: pointer;
}
footer form button:hover{       
      background-image: linear-gradient(135deg,hsla(0, 80%, 86%, 0.466),hsla(0, 74%, 74%, 0.575));
}
footer form button img{
       position: relative;
       top: 2px;
       left: 2px;
       width: 1.2rem;
}
.error{
       position: relative;
       color: hsl(0, 74%, 74%);
       font-size: 1.3rem;
       padding: 1rem 3rem;
}
@media screen and (min-width:900px) {

       /*/// grid ///////////////////////////////*/
       main{              
              display: grid;
              grid-template-columns: 1fr 55rem;
              grid-template-rows: 25rem 30rem 10rem;
       }
       header{
              grid-column: 1 / 2;
              grid-row: 1 / 2;              
       }
       section.content{
              grid-column: 1 / 2;
              grid-row: 2 / 3;
       }     
       section.hero{
              grid-column: 2 / 3;
              grid-row: 1 / 4;
       }  
       /*/////////////////////////////////////////*/
       main{
              width: auto;
              height: 100vh;
              overflow-x: hidden;
              background-image: url(../images/bg-pattern-desktop.svg);
       }
       section.hero .img-desktop{
              display: block;
              width: 100%;
              height: auto;   
              margin-left: 2rem;                                   
       }
       section.hero .img-mobile{
              display: none;
       }

       header .logo{      
              padding: 8rem 0 0 20%;  
       }
      header .logo img{
             width: 15rem;
       }
      section.content h2{
       width: 40rem;
       margin: 0;
       padding: 0 2rem 0 15%;
       text-align: left;
       font-size: 6rem;      
       letter-spacing: 2rem;
       }
       section.content p{
       width: 52rem;
       max-width: none;
       margin: 0;
       padding: 2rem 2rem 0 15%;       
       text-align: left;
       font-size: 1.5rem;       
       }
       footer{
              margin-bottom: 0;
       }
       footer form{
              position: relative;
              width: 52rem; 
              max-width: none;                       
              padding: 2rem 2rem 7rem 15%;
              margin: 0;
       }    
       footer form input{             
              height: 5.5rem;  
              background-color: hsla(0, 100%, 98%, 0);           
       }       
       footer form button{               
              width: 10rem;
              height: 5.6rem;              
       }   
       footer form input.errorInput{
              background: url(../images/icon-error.svg) no-repeat;
              background-position: 27rem;       
       }
}