@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
/*///// Primary /////*/
--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);

/*///// Neutral /////*/
--Dark-Grayish-Red: hsl(0, 6%, 24%);
}

*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
html{
       font-size: 65.2%;
}
body{       
       font-family: 'Josefin Sans', sans-serif;
       font-size: 1.6rem; 
       width: 100%;  
       
       height: auto;                  
}
main{
       max-width: 40rem;
       margin: 0 auto;
       background-image: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));  
      
}
header .logo{      
        padding: 3rem;  
}
header .logo img{
       width: 10rem;
}
header .hero{
       width: 100%;
       text-align: center;
}
header .hero img{
     width: 100%;
     margin-bottom: 3rem;
}
section h2 span{
       color: var(--Desaturated-Red);
       display: block;       
       font-weight: 300;
}
section h2{
       width: 30rem;
       margin: 0 auto;
       padding: 2.5rem;
       text-align: center;
       font-size: 4rem;
       text-transform: uppercase;
       letter-spacing: 1rem;
}
section p{
       width: 33rem;
       margin: 0 auto;
       color: var(--Desaturated-Red);
       text-align: center;
       font-size: 1.5rem;
       font-weight: 400;
       line-height: 2.5rem;
}
footer{
       margin-bottom: 2rem;
}
footer form{
       position: relative;
       width: 30rem;        
       padding: 3rem 0 7rem;
       margin: 0 auto;
}
footer form input{
       width: 100%;
       height: 4rem;
       border-radius: 3rem;
       padding: 2rem; 
       border: 1px solid hsla(0, 36%, 70%, 0.356);
       background-color: hsl(0, 100%, 98%);
}
footer form input::placeholder{
       font-family: 'Josefin Sans', sans-serif;
       color: hsla(0, 36%, 70%, 0.493);
      
}
footer form button{
       position: absolute;       
       right: 0;
       width: 6rem;
       height: 4.1rem;
       border-radius: 3rem;
       background-image: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
       border: none;
       box-shadow: 0px 10px 10px hsla(0, 36%, 70%, 0.226) ;
       cursor: pointer;
}
footer form button:hover{       
      background-image: linear-gradient(135deg,hsla(0, 80%, 86%, 0.466),hsla(0, 74%, 74%, 0.575));
}
footer form button img{
       width: 1rem;
       object-fit: cover;
       object-position: center;
      
}